@model SportAsso.Models.Document
<!--cette vue est emboitee dans un layout qui contient la barre de navigation de l'espace admin
lui meme imbrique dans le layout general du site-->
@{

    Layout = "~/Views/Shared/LayoutAdminPannel.cshtml";
}
<!--vue permettant a un admin de voir tout le contenu d'un dossier qui a ete valide-->
<h3>Detail inscription </h3>
<h4>
    @ViewBag.personneNom @ViewBag.personnePrenom: @ViewBag.discipline, @ViewBag.section, @ViewBag.jour @ViewBag.heure
</h4>

<!--affiche la liste des documents qui ont ete valides et permet de les visualiser-->
<table class="table">
    <tr>
        <td>Fiche de renseignement : &nbsp &nbsp</td>
        <td> Document déjà validé </td>
        <td>
            <!--formulaire envoyant a la methode permettant de charger un document l'id du document a renvoyer-->
            <form method="post" action="/Admin/Visualiser">
                <input type="hidden" value="@ViewBag.FichID" name="id" />
                <input type="submit" value="Visualiser" />
            </form>
        </td>
    </tr>
    <tr>
        <td>Attestation medicale : &nbsp &nbsp</td>
        <td> Document déjà validé</td>
        <td>
            <!--formulaire envoyant a la methode permettant de charger un document l'id du document a renvoyer-->
            <form method="post" action="/Admin/Visualiser">
                <input type="hidden" value="@ViewBag.MedID" name="id" />
                <input type="submit" value="Visualiser" />
            </form>
        </td>
    </tr>
    <tr>
        <td>Assurance de responsabilité civile : &nbsp &nbsp</td>
        <td> Document déjà validé </td>
        <td>
            <!--formulaire envoyant a la methode permettant de charger un document l'id du document a renvoyer-->
            <form method="post" action="/Admin/Visualiser">
                <input type="hidden" value="@ViewBag.ResID" name="id" />
                <input type="submit" value="Visualiser" />
            </form>
        </td>
    </tr>
</table>

Ce dossier est validé

