@{ 
    Layout = "_Layout.cshtml";
}


<!DOCTYPE html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

    @using (var context = new SportAsso.Models.Context_db())
    {
        int id = (int)Session["P_id"];

        SportAsso.Models.Personne personne = context.Personne
            .Where(p => p.Id_Personne == id)
            .FirstOrDefault();
        ViewBag.Personne = personne;

        List<SportAsso.Models.Role> roles = context.Personne
            .Where(p => p.Id_Personne == id)
            .SelectMany(p => p.Role)
            .ToList();
        ViewBag.Roles = roles;

        //si adhérent liste des cours qu'il donne
        List<SportAsso.Models.Creneau> cours = context.Creneau
            .Where(c => c.Encadrant == id)
            .ToList();
        ViewBag.Cours = cours;

        List<SportAsso.Models.Creneau> creneaux = context.Personne
            .Where(p => p.Id_Personne == id)
            .SelectMany(p => p.Creneau1)
            .ToList();
        ViewBag.Creneaux = creneaux;

        List<SportAsso.Models.Dossier> dossier = context.Dossier
            .Where(d => d.Personne_Id_Personne == id)
            .ToList();
        ViewBag.Dossiers = dossier;


    }
                <br/>
                <nav class="nav  flex-column" style="width:190px; padding:15px; background-color:lightgray; float:left; margin-right:30px">

                    <!--responsive
                         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                        -->
                    <!-- les liens du menu-->
                    <div class="navbar">
                        <div>
                            <a role="button" href="/Account/UserPannel">Mes infos personnelles</a>
                        </div>
                        <!--Les pré inscriptions-->
                        <div class="dropright">
                            <a class="dropdown-toggle" role="button" id="deroulanta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mes pré inscriptions</a>
                            <div class="dropdown-menu" style="background-color:lightgray" aria-labelledby="deroulanta">
                                <ul>
                                    @{
                                        foreach (var dossier in ViewBag.Dossiers as List<SportAsso.Models.Dossier>)
                                        {
                                            if (!dossier.Est_Valide)
                                            {
                                                using(var context = new SportAsso.Models.Context_db())
                                                {
                                                    var section = context.Section
                                                        .Where(s => s.Id_Section == dossier.Section_Id_Section)
                                                         .FirstOrDefault();
                                                    ViewBag.Section = section;
                                                    var discipline = context.Discipline
                                                        .Where(d => d.Id_Discipline == section.Discipline_Id_Discipline)
                                                        .FirstOrDefault();
                                                    ViewBag.Discipline = discipline;
                                                }
                                                <li>
                                                    <a class="dropdown-item" href="/Account/Preinscription/@dossier.Id_Dossier">@ViewBag.Discipline.Nom_Discipline @ViewBag.Section.Nom</a>
                                                </li>
                                                }
                                            }
                                        }
                                </ul>
                            </div>
                        </div>
                        <!--Les inscriptions-->
                        <div class="dropdown">
                            <a class="dropdown-toggle" role="button" id="deroulanta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mes inscriptions</a>
                            <div class="dropdown-menu" style="background-color:lightgray" aria-labelledby="deroulanta">
                                <ul>
                                    @{
                                        foreach (var dossier in ViewBag.Dossiers as List<SportAsso.Models.Dossier>)
                                        {
                                            if (dossier.Est_Valide)
                                            {
                                                using (var context = new SportAsso.Models.Context_db())
                                                {
                                                    var section = context.Section
                                                        .Where(s => s.Id_Section == dossier.Section_Id_Section)
                                                         .FirstOrDefault();
                                                    ViewBag.Section = section;
                                                    var discipline = context.Discipline
                                                        .Where(d => d.Id_Discipline == section.Discipline_Id_Discipline)
                                                        .FirstOrDefault();
                                                    ViewBag.Discipline = discipline;
                                                }
                                                <li>
                                                    <a class="dropdown-item" href="/Account/Inscription/@dossier.Id_Dossier">@ViewBag.Discipline.Nom_Discipline @ViewBag.Section.Nom</a>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <!--Les cours des encadrants-->
                        @foreach (var role in ViewBag.Roles as List<SportAsso.Models.Role>)
                        {
                            if (@role.Nom_Role == "Encadrant")
                            {
                                <div class="dropdown">
                                    <a class="dropdown-toggle" role="button" id="deroulanta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mes cours</a>
                                    <div class="dropdown-menu" style="background-color:lightgray" aria-labelledby="deroulanta">
                                        <ul>
                                            @foreach (var cours in ViewBag.Cours as List<SportAsso.Models.Creneau>)
                                            {
                                                <li>
                                                    <a class="dropdown-item" href="/Account/Cours/@cours.Id_Creneau">@cours.Jour @cours.Heure</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </nav>

                <div style="display: inline-block">
                    @RenderBody()
                </div>

               
</body>
