@{
    <!--cette vue est emboitee dans un layout qui contient la barre de navigation de l'espace adherent, lui meme imbrique dans le layout general du site-->
    Layout = "~/Views/Shared/LayoutUserPannel.cshtml";
}

@{
    ViewBag.Title = "Inscription";
}
<!--vue qui reprend l'inscription d'un utilisateur à un creneau-->
<div>
    <h1>Mon inscription en @ViewBag.Discipline.Nom_Discipline</h1>

    <div>
        <!--lien qui renvoit vers la page avec tous les creneaux de la section-->
        <h2>Ma <a href="/Discipline/Creneau/@ViewBag.Discipline.Nom_Discipline/@ViewBag.Section.Id_Section">section :</a></h2>
        <table>
            <!-- affiche les informations sur la section ou l'adherent est inscrit-->
            <tr>
                <td>Section : &nbsp &nbsp</td>
                <td>@ViewBag.Section.Nom &nbsp &nbsp</td>
            </tr>
            <tr>
                <td>Prix annuel : &nbsp &nbsp</td>
                <td>@ViewBag.Section.Prix &nbsp &nbsp</td>
            </tr>
        </table>
    </div>


    <div>
        <h2>Mon créneau :</h2>
        <table>
            <!-- affiche les informations sur le creneau où l'utilisateur est inscrit-->
            <tr>
                <td>Jour : &nbsp &nbsp</td>
                <td>@ViewBag.Creneau.Jour &nbsp &nbsp</td>
            </tr>
            <tr>
                <td>Heure : &nbsp &nbsp</td>
                <td>@ViewBag.Creneau.Heure &nbsp &nbsp</td>
            </tr>
            <tr>
                <td>Encadrant : &nbsp &nbsp</td>
                <!--lien qui renvoi a la page d'informations sur l'encadrant-->
                <td><a href="/Encadrant/Creneaux/@ViewBag.Encadrant.Id_Personne">@ViewBag.Encadrant.Prenom @ViewBag.Encadrant.Nom</a>&nbsp &nbsp</td>
            </tr>
            <tr>
                <td>Lieu : &nbsp &nbsp</td>
                <td>@ViewBag.Lieu.Nom</td>
            </tr>
            <tr>
                <td>Adresse : &nbsp &nbsp</td>
                <td>@ViewBag.Lieu.Adresse</td>
            </tr>

        </table>
    </div>
    </br>
    Votre dossier est validé et l'inscription est définitive, il n'est plus possible de la modifier
</div>