
@{
    Layout = "~/Views/Shared/LayoutUserPannel.cshtml";
}

@{
    ViewBag.Title = "Preinscription";
}

<div>
    <!--Les infos de l'inscription-->
    <div>
        <h1>Ma pré inscription en @ViewBag.Discipline.Nom_Discipline :</h1>
        <div>
            <h2>Ma <a href="/Discipline/Creneau/@ViewBag.Discipline.Nom_Discipline/@ViewBag.Section.Id_Section">section :</a></h2>
            <table>
                <tr>
                    <td>Section : &nbsp &nbsp</td>
                    <td>@ViewBag.Section.Nom &nbsp &nbsp</td>
                </tr>
                <tr>
                    <td>Prix annuel : &nbsp &nbsp</td>
                    <td>@ViewBag.Section.Prix &nbsp &nbsp</td>
                </tr>
            </table>
        </div>
        <div>
            <h2>Mon créneau :</h2>
            <table>
                <tr>
                    <td>Jour : &nbsp &nbsp</td>
                    <td>@ViewBag.Creneau.Jour &nbsp &nbsp</td>
                </tr>
                <tr>
                    <td>Heure : &nbsp &nbsp</td>
                    <td>@ViewBag.Creneau.Heure &nbsp &nbsp</td>
                </tr>
                <tr>
                    <td>Encadrant : &nbsp &nbsp</td>
                    <td><a href="/Encadrant/Creneaux/@ViewBag.Encadrant.Id_Personne">@ViewBag.Encadrant.Prenom @ViewBag.Encadrant.Nom</a>&nbsp &nbsp</td>
                </tr>
                <tr>
                    <td>Lieu : &nbsp &nbsp</td>
                    <td>@ViewBag.Lieu.Nom</td>
                </tr>
                <tr>
                    <td>Adresse : &nbsp &nbsp</td>
                    <td>@ViewBag.Lieu.Adresse</td>
                </tr>
            </table>
        </div>
    </div>
    <!--Le dossier à compléter-->
    <div>
        <h2>Mon dossier :</h2>
        <!--TODO aller chercher les documents, s'ils sont validés et ceux à charger-->
    </div>
    <!--actions possibles-->
    <div>
        <form action="/GestionA/ModifierCreneau/@ViewBag.Creneau.Id_Creneau">
            <input type="submit" value="Modifier le créneau" />
        </form>

        <form action="">
            <input type="submit" value="Supprimer mon inscription" />
            <!--pop up de confirmation, suppression puis redirection vers espace perso-->
        </form>

    </div>
    Votre dossier n'est pas encore validé, vous pouvez encore apporter des modifications à cette inscription '
</div>




