@{ 
    Layout = "~/Views/Shared/LayoutUserPannel.cshtml";
}

<h1>Vos informations personnelles</h1>

<table>
    <tr>
        <td>Nom : &nbsp &nbsp</td>
        <td>@ViewBag.Personne.Nom &nbsp &nbsp</td>
    </tr>
    <tr>
        <td>Prenom : &nbsp &nbsp</td>
        <td>@ViewBag.Personne.Prenom &nbsp &nbsp</td>

    </tr>
    <tr>
        <td>Date de naissance : &nbsp &nbsp</td>
        <td>@ViewBag.Personne.Date_Naissance &nbsp &nbsp</td>
    </tr>
    <tr>
        <td>Email : &nbsp &nbsp</td>
        <td>@ViewBag.Personne.E_mail &nbsp &nbsp</td>
        <td>
            <form action="/GestionA/ModifierMail">
                <input type="submit" value="Modifer" />
            </form>
        </td>
    </tr>
    <tr>
        <td>Numéro de téléphone : &nbsp &nbsp</td>
        <td>@ViewBag.Personne.Num_Telephone &nbsp &nbsp</td>
        <td>
            <form action="/GestionA/ModifierTel">
                <input type="submit" value="Modifer" />
            </form>
        </td>
    </tr>
    <tr>
        <td>Mot de passe : &nbsp &nbsp</td>
        <td>******** &nbsp &nbsp</td>
        <td>
            <form action="/GestionA/ModifierMdp">
                <input type="submit" value="Modifer"/>
            </form>
        </td>
    </tr>
</table>