

@{
    ViewBag.Title = "paiement";
}

<span>
    <a href="/">home></a><a href="/Discipline">Disciplines></a><a href="/Discipline/Section/@ViewBag.Discipline">
        @ViewBag.Discipline
    </a><a href="/Discipline/Creneau/@ViewBag.Discipline/@ViewBag.SectionId">Creneau></a><a href="InscriptionCreneau/Index">Inscription: Etape 1 ></a>
    <a href="InscriptionCreneau/paiement">Etape 2</a>
</span>

<h2>Inscriptions a la section @ViewBag.SectionCreneau de la discipline @ViewBag.CreneauDiscipline: Etape 2</h2>
<form>
    <fieldset>
        <legend>Paiement:</legend>
        <table cellpadding="20">

            <tr>
                <th>Discipline &nbsp &nbsp</th>
                <th>Section &nbsp &nbsp</th>
                <th>Jour &nbsp &nbsp</th>
                <th>Heure &nbsp &nbsp</th>
                <th>Lieu &nbsp &nbsp</th>
                <th>Adresse &nbsp &nbsp</th>
                <th>Encadrant &nbsp &nbsp</th>
                <th>Prix &nbsp &nbsp</th>

            </tr>

            <tr>
                <td>@ViewBag.CreneauDiscipline &nbsp &nbsp </td>
                <td>@ViewBag.SectionCreneau &nbsp &nbsp</td>
                <td>@ViewBag.Creneau.Jour &nbsp &nbsp</td>
                <td>@ViewBag.Creneau.Heure &nbsp &nbsp</td>
                <td>@ViewBag.LieuCreneau &nbsp &nbsp</td>
                <td>@ViewBag.AdresseCreneau &nbsp &nbsp</td>
                <td>@ViewBag.Encadrant.Prenom @ViewBag.Encadrant.Nom &nbsp &nbsp</td>
                <td>@ViewBag.PrixSection euros &nbsp &nbsp</td>
            </tr>

        </table>

    </fieldset>
</form>

    <form action="/InscriptionCreneau/Confirmation/@ViewBag.CreneauDiscipline/@ViewBag.SectionCreneau">
        <input type="submit" value="Payer"/>
    </form>

   